/* Write the CSS for you answer here */
#landscape{
    background-position: center;
    background-repeat: no-repeat;

}
#pohutukawa{
    position: relative;
    margin-left: 29.7%;
    margin-top: 3%;
    pointer-events: none;
}

#blue{
    position: absolute;
    margin-left: 35%;
    margin-top: -10%;
}
#darkblue{
    position: absolute;
    margin-left: 40%;
    margin-top: -15%;
}
#green{
    position: absolute;
    margin-left: 47%;
    margin-top: -13%;
}
#orange{
    position: absolute;
    margin-left: 54%;
    margin-top: -20%;
}
#pink{
    position: absolute;
    margin-left: 53%;
    margin-top: 17%;
}
#red{
    position: absolute;
    margin-left: 65%;
    margin-top: -11%;
}
.colorball:hover {
    width: 60px;
    height: 75px;
    transition: width 1.5s ease, height 1.5s ease;
}
