/* Write the CSS for you answer here */
#landscape{
    background-position: center;
    background-repeat: no-repeat;
}
#pohutukawa{
    position: relative;
    margin-left: 29.7%;
    margin-top: 3%;
    pointer-events: none;
}

#blue{
    position: absolute;
    margin-left: 35%;
    margin-top: -10%;
}
#darkblue{
    position: absolute;
    margin-left: 40%;
    margin-top: -15%;
}
#green{
    position: absolute;
    margin-left: 47%;
    margin-top: -13%;
}
#orange{
    position: absolute;
    margin-left: 54%;
    margin-top: -20%;
}
#pink{
    position: absolute;
    margin-left: 53%;
    margin-top: 17%;
}
#red{
    position: absolute;
    margin-left: 65%;
    margin-top: -11%;
}
.colorball:hover {
    width: 60px;
    height: 75px;
    transition: width 1.5s ease, height 1.5s ease;
}

#blue, #darkblue, #green, #orange, #red{
    animation-duration: 2s;
    animation-name: bounceDown;
    margin-top: -4%;
}
#pink{
    animation-duration: 2s;
    animation-name: bouncePink;
    margin-top: 20%;
}

div#landscape:hover #pink{
    animation-duration: 2s;
    animation-name: bounceDown;
}

div#balls:hover .colorball{
    animation-duration: 2s;
    animation-name: bouncePink;
    animation-delay: 1s;
}

@keyframes bounceDown {
    from {
        margin-top: -23%;
    }
    50% {margin-top: -4%; }
    60% {margin-top: -10%; }
    to {margin-top: -4%;}
}

@keyframes bouncePink {
    from {
        margin-top: 7%;
    }
    50% {margin-top: 20%; }
    60% {margin-top: 15%; }
    to {margin-top: 20%;}
}
